# Docker
.env

# Git
.git/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.eggs/

# VirtualBox
*.ova
*.vbox
*.vbox-prev
*.vdi
*.vmdk
images/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Test data outputs
*.csv
